.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

.product-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 75px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding: 50px 50px 50px 50px;
}

.product-detail-container-info {
    padding-top: 30px;
}

.detail-product-title {
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: bold;
    text-align: center;
}

.detail-product-price {
    font-weight: 300;
    text-align: center;
}

.detail-product-desc {
    line-height: 1.5;
    margin-bottom: 0px;
}

.detail-product-img {
    width: 300px;
}

.detail-product-container-btn {
    text-align: center;
    margin-top: 30px;
}

.detail-product-btn {
    margin-top: 30px;
    background-color: #1D3649;
    color: #D5B695;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    padding: 10px 40px 10px 40px;
    font-weight: bold;
}

.detail-product-btn:hover {
    background-color: #D5B695;
    color: #1D3649;
}