.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 1000px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    padding: 50px 100px 50px 100px;
}

.product-detail-container-img {
    margin-right: 50px;
}

.detail-product-title {
    font-weight: bolder;
    margin-bottom: 20px;
}

.detail-product-price {
    font-weight: 300;
    margin-bottom: 20px;
}

.detail-product-desc {
    line-height: 1.5;
    margin-bottom: 0px;
}