.cart-icon-container {
    position: relative;
}

.img-cart {
    width: 25px;
    cursor: pointer;
    padding: 0;
    margin-top: -20px;
}

.cart-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 12px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    position: absolute;
    transform: translate(15px, -15px);
}