.detail-product-container-btn {
    margin-top: 50px;
    text-align: center;
}

.detail-product-btn {
    margin-top: 30px;
    background-color: #1D3649;
    color: #D5B695;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    padding: 10px 40px 10px 40px;
    font-weight: bold;
}

.detail-product-btn-active {
    display: block;
}