.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1D3649;
    padding: 50px 0px 40px 0px;
    align-items: center;
}

.brand-container h4 {
    color: #D5B695;
    margin-top: -10px;
}

.nav-container nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-container nav ul li {
    margin-right: 20px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: #D5B695;
}

a, a:hover {
    color: #D5B695;
    text-decoration: none;
}