.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-top: 30px;
}

.contador-container {
    display: flex;
    flex-direction: row;
}

.numero-container {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.numero {
    font-size: 20px;
}

.stock {
    margin-bottom: 20px;
}

.boton {
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.boton-rojo {
    background-color: #D5B695;
    color: #1D3649;
    padding: 0px;
}

.boton-verde {
    background-color: #D5B695;
    color: #1D3649;
}